@media (max-width:1600px){
  .footer__inner{
    gap: 60px;
  }
  .stage__block{
    gap: 50px;
  }
}

@media (max-width:1440px){
  .company__cards{
    flex-direction: column;
  }
  .company__left{
    height: 640px;
    background-image: url(../img/card__one_medium.png);
    flex: none;
  }
  .stage__block-one{
    max-width: 500px;
  }
 
}
@media (max-width:1200px) 
{
  .footer__block--flex3{
    display: none;
  }
}
@media (max-width:1024px){
  .container{
    padding: 0 50px;
  }
  .header{
    padding: 26px 0;
  }
  .header__nav{
    margin-right: 105px;
  }
  .nav__list{
    gap: 60px;
  }
  .decisions{
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .decisions__wrapp--img{
    padding: 160px 77px;
    background-image: url(../img/decisionsBackground_1024.png);
  }
  .decisions__title{
    margin: 0 0 16px 0;
    font-size: 60px;
    line-height: 73.14px;
  }
  .decisions__text{
    margin: 0 0 60px 0;
    font-size: 20px;
    line-height: 24.38px;
  }
  .company{
    padding-top: 20px;
    padding-bottom: 38.5px;
  }
  .company__right{
    gap: 32px;
  }
  .company__right-text{
    max-width: 450px;
  }
  .stage{
    padding-top: 38.5px;
    padding-bottom: 40px;
  }
  .stage__text{
    max-width: 437px;
  }
  .stage__block::after{
    background-image: url(../img/stage__1024.png) ;
  }
  .question{
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .question__list{
    flex-direction: column;
  }

  .footer__inner{
    gap: 132px;
  }
  .message{
    height: 150px;
    margin-bottom: 32px;
  }
  .footer__form-butt{
    padding: 19px 37.5px;
  }
  .footer__form-text {
    font-size: 14px;
  }
}

@media (max-width:888px){
  .header__nav{
    margin-right: 43px;
  }
  .nav__list{
    gap: 40px;
  }
  .stage__block{
    flex-direction: column-reverse;
    
  }
  .stage__block::after{
    height: 284px;
    background-image: url(../img/stage__image.png) ;
    flex: none;
  }
  .stage__block-one{
    max-width: none;
  }
  .stage__text{
    max-width: none;
  }

}

@media (max-width:768px){
  .header{
    padding: 17px 0;
  }
  .nav__item{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
  }
  
  .decisions__wrapp--img{
    padding: 160px 40px;
    background-image: url(../img/decisionsBackground_768.png);
  }
  .decisions__title{
    font-size: 50px;
    line-height: 60.95px;
  }
  .decisions__text{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.94px;
  }
  .company__inner--img1{
    background-image: url(../img/icon_cards_768.svg);
    background-position: 40px center;
  }
  .company__inner--img2{
    background-image: url(../img/icon_cards2_768.svg);
    background-position: 40px center;
  }
  .company__inner{
    padding: 35px 40px 35px 170px;;
  }
  .company__left-info{
    padding: 34px 40px;
  }
  .company__left-text{
    max-width: 366px;
  }
  .stage__block{
    gap: 38px;
  }
  .question__item{
    padding: 35px 40px
  }
  .footer__block-list{
    display: none;
  }
  .footer__block-icon{
    margin-top: 16px;
  }
  .footer__inner{
    flex-direction: column-reverse;
    gap: 50px;
    align-items: revert;
    max-width: 494px;
  }
}
@media (max-width:720px){
  .header__nav{
    margin-right: 15px;
  }
}
@media (max-width:672px){
  .header__nav{
    order: 3;
    margin: auto;
  }
}

@media (max-width:480px){
  .container{
    padding: 0 15px;
  }
  .header{
    padding-bottom: 40px;
  }
  .header__row{
    gap: 17px;
  }
  .nav__list{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 24px;
  }
  .nav__item{
    flex: 0 0 auto;
  }
  .decisions__wrapp--img{
    background-image: url(../img/decisionsBackground_320.png);
    padding: 60px 22px;
    border-radius: 17px;
    text-align: center;
  }
  .decisions__title{
    margin: 0 0 6px 0;
    font-size: 20px;
    line-height: 24.38px;
  }
  .decisions__text{
    margin: 0 0 32px 0;
    font-size: 12px;
    line-height: 14.63px;
  }
  .decisions__button{
    padding: 13px 28px;
    font-size: 12px;
    line-height: 14.63px;
  }
  .decisions{
    padding-top:20px ;
    padding-bottom: 30px;
  }
  .company{
    padding-top: 30px;
  }
  .company__title{
    font-size: 24px;
    line-height: 29.26px;
    margin: 0 0 20px 0;
  }
  .company__text{
    font-size: 14px;
    line-height: 28px;
    margin: 0 0 14px 0;
  }
  .company__left{
    background-image: url(../img/card__one_mob.png);
    height: 290px;
    width: 100%;
  }
  .company__cards{
    gap: 14em;
  }
  .company__left-info{
    bottom: -63%;
    background: none;
    padding: 0;
  }
  .company__left-text{
    color: #000000;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }
  .company__left-button{
    color: #FF9900;
  }
  .company__inner--img1{
    background-image: url(../img/icon_cards_320.svg);
    background-position: top left;
    border: 0;
    padding: 61px 0 0 0;
  }
  .company__inner--img2{
    background-image: url(../img/icon_cards2_320.svg);
    background-position: top left;
    border: 0;
    padding: 61px 0 0 0;
  }
  .company__right-title{
font-size: 18px;
font-weight: 500;
line-height: 21.94px;
  }
  .company__right-text{
font-size: 14px;
font-weight: 400;
line-height: 28px;
  }
  .stage__title--font{
font-size: 18px;
font-weight: 500;
line-height: 32px;
  }
  .stage__link{
    gap: 10px;
  }
  .question__item{
    border: 0px;
    padding: 0;
  }
  .question__item-title{
font-size: 18px;
font-weight: 500;
line-height: 21.94px;
  }
  .question_title{
font-size: 24px;
font-weight: 400;
line-height: 29.26px;
  }
  .footer__block{
    align-items: center;
  }
  .footer__form-buttons{
    justify-content:center
  }
  .footer__form-buttons::after{
    content: '';
    outline: 1px solid #414141;
    width: 100%;
  }
  .footer__block--flex2{
    text-align: center;
  }
}

@media(max-width:320px){
  .company{
    padding-bottom: 23px;
  }
  .company__left{
    height: 200px;
  }
  .company__left-info{
    bottom: -103%;
    gap: 12px;
  }
  .company__left-button{
    padding: 12.31px 44px ;
font-size: 12px;
font-weight: 700;
line-height: 14.63px;
  }
  .company__inner--img1 {
    padding: 69px 0 0 0;;
  }
  .stage{
    padding-top: 30px;
  }
  .stage__title{
    margin: 0 0 20px 0;
font-size: 24px;
font-weight: 400;
line-height: 29.26px;
  }
  .stage__title--font{
    margin: 0 0 8px 0;
font-size: 18px;
font-weight: 500;
line-height: 32px;
  }
  .stage__block{
    gap: 16px;
  }
  .stage__block::after {
    height: 160px;
  }
  .stage__text{
font-size: 14px;
font-weight: 400;
line-height: 28px;
  }
  .stage__butt-one{
    padding: 12.31px 40px ;
font-size: 12px;
font-weight: 700;
line-height: 14.63px;
  }
  .stage__butt-two{
    padding: 12px 32px ;
font-size: 12px;
font-weight: 400;
line-height: 14.63px;
  }
  .question{
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .question_title{
    padding-bottom: 20px;
  }
  .question__item-text{
font-size: 14px;
font-weight: 400;
line-height: 28px;
  }
  .question__list{
  gap: 25px;
  }
  .footer{
    padding: 30px 0px;
  }
  .footer__inner{
    gap: 33px;
  }
  .footer__form-title{
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;   
  }
  .footer__block{
    align-items:center;
  }
  .footer__block--flex2{
    align-items: baseline;
  }
  .footer__form-butt{
    padding: 12px 19px;
font-size: 12px;
font-weight: 700;
line-height: 14.63px;
  }
  .footer__form-text{
font-size: 16px;
font-weight: 400;
line-height: 32px;
  }
  .footer__form-buttons{
    gap: 11px;
  }
  .footer__block-img{
    width: 131px;
  }
  .footer__block-icon{
    margin-top: 7px;
  }
  .footer-icon{
    width: 40px;
  }
  
}